
@{
    ViewBag.Title = "Anasayfa";
}

<h2>Anasayfa</h2>

<ul>
    <li><a href="#home">Anasayfa</a></li>
    <li><a href="#news">Aktif Oturumlar</a></li>
    <li><a href="#news">Yardımlaşma</a></li>
    <li><a href="#contact">İstek&Şikayet</a></li>
    <li style="float:right"><a class="active" href="#about">Profilim</a></li>
</ul>