<!doctype html>
<html lang="tr">

<head>

    <meta charset="utf-8" />
    <title>Kütüphane Oturum Otomasyonu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Kütüphane Oturum Otomasyonu" name="description" />


    <link rel="shortcut icon" href="~/Style/images/logo2.png">

    <link href="~/Style/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <link href="~/Style/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    @*<link href="~/Style/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="~/Style/lib/owl.carousel/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="~/Style/lib/owl.carousel/assets/owl.theme.default.min.css">
        <link href="~/Style/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Style/lib/select2/css/select2.min.css" rel="stylesheet" type="text/css" />*@

</head>

@RenderBody()

</html>
